@page "/"


<div class ="row">
    <div class="col text-center">
        <h1>
            Welcome to our game industry page
        </h1>
    </div>
</div>

<div class ="row">
    <div class="col text-center">
        <h2>
            Show all games in MOCK DB:
        </h2>
    </div>
</div>


<GameListTable Games="games"/>
<IndividualGame Game ="games[0]" IsTable="false" ButtonsIsDisplayed ="true"/>

@code{
    List<Game> games;
    protected  override void OnInitialized()//отвечает за заполнение данных до отрисовки
    {
        games = new List<Game>
        {
            new Game()
            {
                Name = "Farming Simulator",
                Genre = "Simulator",
                ReleaseDate = new DateTime(2018,11,19)
                
            },
             new Game()
            {
                Name = "The Witcher 3",
                Genre = "Action/RPG",
                ReleaseDate = new DateTime(2015,05,18)
                
            },
             new Game()
            {
                Name = "Destroy all Humans",
                Genre = "Actio-advanture",
                ReleaseDate = new DateTime(2020,07,28)
                
            },
        };
    }
}