@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
         @*<span style="color: green"> Hi from SidebarLayout(sidebar   content)</span>*@
    </div>

    <div class="main">
        <div class="top-row px-4">
             @*<span  style="color: orange">Hi from Body Layout(body  top content)</span>*@
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
            @*<span style="color: red">Hi from Layout(body  bottom content)</span>*@
            
        </div>
    </div>
</div>
